.DS_Store
node_modules
public/pydist/*
pydist/*
src/py/__pycache__

# local env files
.env.local
.env.*.local

copytranslator-db.json
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.spec

#Electron-builder output
dist_electron
build