body {
	background-color: rgba(0, 0, 0, 0.3);
	background-image: linear-gradient(315deg, #200000 0%, #13253a 74%);
	color: whitesmoke;
}

#label {
	text-align: center;
}

#container {
	background: rgba(0, 0, 0, 0.7);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
	border: 1px solid rgba(80, 0, 0, 0.4);
	overflow: hidden;
}

#data,
.keybindData {
	background: unset;
	color: whitesmoke;
	border: 1px solid rgb(54, 54, 54);
}

#data:hover {
	border: 1px solid rgb(85, 85, 85);
}

#data:focus {
	outline: unset;
	border: 1px solid rgb(85, 85, 85);
}

#ok:hover,
#ok:focus,
#custom:hover,
#custon:focus
#cancel:hover,
#cancel:focus {
	outline: rgba(60, 0, 0, 0.4) solid 2px;
}

#ok,
#cancel,
#custom,
.clearButton {
	background-color: rgb(0, 0, 0);
	color: whitesmoke;
}

/* For Counter Prompt */
.minus,
.plus {
	background: rgb(0, 0, 0);
}

/* For Select Prompt */
option {
	background-color: #07070C;
}

/* For Keybind Prompt */
.clearButton:focus {
	outline: none;
}
.clearButton:hover {
	background-color: rgb(5, 5, 5);
}
.keybindData:hover {
	border: 1px solid rgb(56, 0, 0);
}

.keybindData:focus {
	outline: 3px solid #1E0919;
	border: 1px solid rgb(56, 0, 0);
}
